<p-toast key="main" [life]="2000"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="container">
    <p-panel header="Seleccione los documentos">
        <form [formGroup]="filtroFRM">
            <div style="display: flex; align-items: center; gap: 1rem; flex-wrap: wrap;">
                <div style="display: flex; align-items: center; gap: 0.5rem;">
                    <label>Proveedor: </label>
                    <p-dropdown [options]="proveedores" optionLabel="razonsocial" optionValue="ruc" formControlName="ruc"
                        (onChange)="onProveedorChallenge($event)" [filter]="true" filterBy="razonsocial" [showClear]="true"
                        placeholder="Seleccione un proveedor" styleClass="w-15rem" [virtualScroll]="true"
                        [virtualScrollItemSize]="38" [panelStyle]="{width:'350px', overflow: 'hidden', 'max-height': '300px' }">
                    </p-dropdown>
                </div>

                <div style="display: flex; align-items: center; gap: 0.5rem;">
                    <label>Numero de Documento: </label>
                    <input type="text" pInputText formControlName="nrodoc" style="width: 210px; overflow: hidden;" />
                </div>
            </div>

            <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
                <!-- Botón Filtrar alineado a la izquierda -->
                <p-button label="Buscar" icon="pi pi-search" (onClick)="filtrar()"></p-button>

                <!-- Contenedor de botones alineados a la derecha -->
                <div style="display: flex; gap: 0.5rem;">
                    <p-button label="Agregar" icon="pi pi-plus" (onClick)="onAddSelected()"></p-button>
                    <p-button label="Cancelar" icon="pi pi-ban" severity="danger"  (onClick)="onCancelSelection()"></p-button>
                    <!--
                    <p-button label="Cerrar" icon="pi pi-times" (onClick)="onCerrar()"></p-button>
                    -->
                </div>
            </div>
        </form>
        <br>

        <!--
                <p-calendar formControlName="fechavencimiento" [showIcon]="true" [showOnFocus]="false"
                    inputId="buttondisplay" styleClass="w-15rem" [panelStyle]="{width:'350px', overflow: 'hidden'}">
                </p-calendar>-->

        <p-table [value]="ayudapago" [scrollable]="true" scrollHeight="400px"
            [scrollDirection]="'both'" [loading]="loading"
            showGridlines [(selection)]="selectedItems"
            dataKey="clave">
            <ng-template pTemplate="header">
                <tr>

                    <th>RUC</th>
                    <th>Razon Social</th>
                    <th>Tipo Doc</th>
                    <th>Numero</th>

                    <th>Moneda Original</th>
                    <th>S/. </th>
                    <th>US$</th>
                    <th>Fecha Emision</th>
                    <th>Fecha Vencimiento</th>
                    <th>Dias Atrazo</th>
                    <th>AfectaDetraccion</th>
                    <th>AfectaRetencion</th>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ayudapago>
                <tr>
                    <td style="text-align: left;">{{ayudapago.ruc}}</td>
                    <td style="text-align: left;">{{ayudapago.razonSocial}}</td>
                    <td style="text-align: left;">{{ayudapago.nombreTipoDOc}}</td>
                    <td style="text-align: left;">{{ayudapago.numeroDOcumento}}</td>
                    <td style="text-align: left;">{{ayudapago.monedaOriginal}}</td>
                    <td style="text-align: right;">{{ayudapago.soles | number:'1.2-2'}}</td>
                    <td style="text-align: right;">{{ayudapago.dolares | number:'1.2-2'}}</td>
                    <td style="text-align: left;">{{ayudapago.fechaEmision}}</td>
                    <td style="text-align: left;">{{ayudapago.fechaVencimiento}}</td>
                    <td style="text-align: left;">{{ayudapago.diasAtrazo}}</td>
                    <td style="text-align: left;">{{ayudapago.afectoDetraccion}}</td>
                    <td style="text-align: left;">{{ayudapago.afectoRetencion}}</td>
                    <td>
                        <p-tableCheckbox [value]="ayudapago"></p-tableCheckbox>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="14" style="text-align: center; font-weight: bold; padding: 1rem;">
                        {{ searchedByDocNumber ? 'No se encontró el Número de documento' : 'No se encontraron registros' }}
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-panel>
</div>
