<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-dialog [(visible)]="displayAgregarModal" [modal]="true" [style]="{width: '90vw', height: '90vh'}" [draggable]="false"
    [resizable]="false" [maximizable]="true" header="Agregar Documento por Pagar" (onHide)="onCloseModal()">
    <app-detraccion-individual-ayuda>

    </app-detraccion-individual-ayuda>
</p-dialog>

<p-dialog  [(visible)]="verConfirmarPago" [modal]="true"
header="Confirmar pago individual"
[style]="{ width: '20vw', height: 'auto' }" [draggable]="false" [resizable]="false"
    [maximizable]="true"
    [baseZIndex]="10000"
    (onHide)="selectedPagoNumero = ''; onCloseModal()"

>
<app-confirmar-pago
[pagoNumero]="selectedPagoNumero"
[modoDetraccion]="true"
[numeroLote]="selectedNumeroLote"
(onClose)="onCloseModal()"
></app-confirmar-pago>
</p-dialog>


<div class="container">
      <p-panel>
        <p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>
    </p-panel>
    <br/>
     <div class="card">

        <div class="flex justify-content-between align-items-center mb-3">
            <button type="button" pButton icon="pi pi-plus" label="Agregar pago"
                    (click)="confirmaPagoPresupuesto()"
                    class="p-button-sm"></button>
            <div class="flex alighn-items-center">
                <label for="rowsPerPage" class="mb-2">Filas por pagina:</label>
                <p-dropdown id="rowsPerPage" [options]="[10, 20, 40]"
                [(ngModel)]="rowsPerPage"
                placeholder="Seleccionar" class="p-button-sm"></p-dropdown>
            </div>

        </div>


    <p-table [value]="detraccionIndividualList"
        [paginator]="true"
        [rows]="rowsPerPage"
        [rowsPerPageOptions]="[10, 20, 40]"
        responsiveLayout="scrol"
        styleClass="{ width: '100%', border: '0px solid black' }"
        [loading]="loading"
    >
       <ng-template pTemplate="header">
        <tr>
            <!-- <th style="width: 5%;display: none;">EmpresaCod</th>
            <th style="width: 8%;display: none;">Anio</th>
            <th style="width: 8%;display: none;">Mes</th> -->
            <th style="width:8%;">Pago<br>Nro</th>
            <th style="width: 8%;">Lote<br>Detraccion</th>
            <th style="width: 8%">fecha</th>        
            <th style="width: 8%">motivo</th>
            <th style="width: 8%">medio pago</th>
            <th style="width: 8%">ruc</th>
            <th style="width: 8%">proveedor</th>
            <th style="width: 8%">nrodoc</th>
            <th style="width: 8%">moneda</th>
            <th style="width: 8%">Detra<br>Soles</th>
            <th style="width: 8%">Detra<br>Dolares</th>
            <th style="width: 8%">estado</th>
            <th style="width: 8%">fec.<br>ejecucion</th>
            <th style="width: 8%">nro<br>operacion</th>
            
            <th style="width:10%; text-align: center;">Acciones</th>
            
        </tr>
    </ng-template>
        <ng-template pTemplate="body" let-detindividual>
            <tr>
                <!-- <td style="text-align:left; white-space:nowrap; display: none;">
                    {{ detindividual.ban01empresa}}
                </td>
                <td style="text-align:left; white-space:nowrap;  display: none;">
                    {{ detindividual.ban01anio}}
                </td>
                <td style="text-align:left; white-space:nowrap;  display: none;">
                    {{ detindividual.ban01mes}}
                </td> -->
                <td style="text-align:left; white-space:nowrap;">
                    {{detindividual.ban01numero}}
                </td >
                <td style="text-align:left; white-space:nowrap;">
                        000000
                </td>
                <td style="text-align:left; white-space:nowrap;">
                    {{ detindividual.ban01fecha }}
                </td> 
               <td style="text-align:left; white-space:nowrap;">
                    {{ detindividual.ban01descripcion}}
                </td>
                   <td style="text-align:left; white-space:nowrap;">
                    {{ detindividual.nombreMedioPago}}
                </td>  
                <td style="text-align:left; white-space:nowrap;">
                    {{detindividual.ban02ruc}}
                </td>
                 <td style="text-align:left; white-space:nowrap;">
                    {{ detindividual.nombreproveedor}}
                </td>
                  <td style="text-align:left; white-space:nowrap;">
                    {{ detindividual.ban02nrodoc}}
                </td>

                           
                <td style="text-align:left; white-space:nowrap;">
                    {{ detindividual.co05moneda}}
                </td>
                 <td style="text-align:left; white-space:nowrap;">
                    {{ detindividual.pagodetracionsoles}}
                </td>
                <td style="text-align:left; white-space:nowrap;">
                    {{ detindividual.pagodetraciondolares}}
                </td>
                <td style="text-align:left; white-space:nowrap;">
                    {{detindividual.estadopresupuesto}}
                </td>
                <td style="text-align:left; white-space:nowrap;">
                    {{detindividual.fechaejecucionpago}}
                </td>
                <td style="text-align:left; white-space:nowrap;">
                    {{detindividual.nrooperacion}}
                </td>

                 <!-- <td style="text-align:left; white-space:nowrap; display: none;">
                    {{ detindividual.ban02tipodoc}}
                </td>
               
                
                <td style="text-align:left; white-space:nowrap; display: none;">
                    {{ convertToDate(detindividual.co05fecha) | date:'dd/MM/yyyy'}} </td>
                <td style="text-align:left; white-space:nowrap; display: none;">
                    {{ convertToDate(detindividual.co05fecven) | date:'dd/MM/yyyy'}}
                </td>

                <td style="text-align:right; white-space:nowrap;display: none;">
                    {{formatearNumero(detindividual.importebrutosoles)}}
                </td>    
                <td style="text-align:right; white-space:nowrap;">
                {{formatearNumero(detindividual.importebrutodolares)}}
                </td>      
                
                <td style="text-align:left; white-space:nowrap; display: none;">
                    {{ detindividual.ban02tipodetraccion}}
                </td>
                <td style="text-align:left; white-space:nowrap; display: none;">
                    {{ detindividual.ban02tasadetraccion}}
                </td>
                -->
                
                <td>
                    <div class="flex justify-content-center gap-2">

                        <button pButton icon="pi pi-eye" pVerDetalle
                                class="p-button.p-button-rounded p-button-text p-button-sm p-button-info"
                                (click)="verDetalle(detindividual)"></button>
                        <button pButton icon="pi pi-trash" pEliminarPago
                                class="p-button p-button-rounded p-button-text p-button-sm p-button-danger"
                                [disabled] = "false"
                                (click)="eliminarPagoPresupuesto(detindividual)">
                        </button>
                        <button pButton icon="pi pi-file-pdf" pVerDocumento
                                class="p-button p-button-rounded p-button-text p-button-sm p-button-danger"
                                [disabled] = "false"
                                (click)="abrirdocumento(detindividual)">
                        </button>

                    </div>
                </td>

            </tr>
        </ng-template>

    </p-table>
</div>
</div>
