<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="container">
    <p-panel header="Consulta Doc.Histórico - Ctaxcobrar" class="mb-3">
        <p-breadcrumb [model]="items" class="max-w-full;"></p-breadcrumb>
        <br />
        <div class="search-bar">
            <input type="text" pInputText placeholder="" [(ngModel)]="textoBuscar" (keyup.enter)="buscar()"
                class="mr-3 w-5" />
            <p-button pButton type="button" label="Buscar" icon="pi pi-search" class="p-ml-2" style="height: 35px;"
                (click)="buscar()"></p-button>


        </div>
        <b class="">* digitar ruc , razon social, nro doc</b>
    </p-panel>
    <br />
    <div class="card p-2">
        <p-table [value]="traerHistoricoList" [scrollable]="true"
            [tableStyle]="{width: '100%', border: '0px solid black'}" [loading]="load">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center;">RUC</th>
                    <th style="text-align: center;">razonSocial</th>
                    <th style="text-align: center;">tipoDoc</th>
                    <th style="text-align: center;">tipoDocDesc</th>
                    <th style="text-align: center;">nroComprobante</th>
                    <th style="text-align: center;">fecha</th>
                    <th style="text-align: center;">importeFactura</th>
                    <th style="text-align: center;">monedaFactura</th>
                    <th style="text-align: center;">fechapago</th>
                    <th style="text-align: center;">importePagoSoles</th>
                    <th style="text-align: center;">importePagoDolares</th>
                    <th style="text-align: center;">estadopago</th>

                    <!--
                    ruc	razonSocial	tipoDoc	tipoDocDesc	nroComprobante	fecha	
                    importeFactura	monedaFactura	fechapago	
                    importePagoSoles	importePagoDolares	estadopago

                    -->
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-doc>
                <tr>
                    <td style="text-align: center; white-space: nowrap;">{{ doc.ruc }}</td>
                    <td style="text-align: center; white-space: nowrap;">{{ doc.razonSocial }}</td>
                    <td style="text-align: center; white-space: nowrap;">{{ doc.tipoDoc }}</td>
                    <td style="text-align: center; white-space: nowrap;">{{ doc.tipoDocDesc }}</td>
                    <td style="text-align: left; white-space: nowrap;">{{ doc.nroComprobante }}</td>
                    <td style="text-align: right; white-space: nowrap;">{{ doc.fecha  }}
                    </td>
                    <td style="text-align: left; white-space: nowrap;">{{ doc.importeFactura | number : "1.1-2"}}</td>
                    <td style="text-align: right; white-space: nowrap;">{{ doc.monedaFactura }}</td>
                    <td style="text-align: right; white-space: nowrap;">{{ doc.fechapago }}</td>
                    <td style="text-align: right; white-space: nowrap;">{{ doc.importePagoSoles | number : "1.1-2" }}</td>
                    <td style="text-align: right; white-space: nowrap;">{{ doc.importePagoDolares | number : "1.1-2" }}</td>
                    <td style="text-align: right; white-space: nowrap;">
                        <!--  -->
                        <p-tag [severity]="doc.estadopago==='Pendiente' ? 'danger':'info'">
                            {{ doc.estadopago }}
                        </p-tag>
                    </td>
                    
                    <!--
                    <td style="text-align: center; white-space: nowrap;">
                        <p-button *ngIf="doc.fechaPago !== '' " label="" icon="pi pi-file"
                            styleClass="p-button-sm p-button-info" (onClick)="abrirdocumento(doc.fechaPago, doc.numeroPresupuesto)
                            " [text]="false">
                        </p-button>
                        <p-button *ngIf="doc.fechaPago === '' " label="" icon="pi pi-file-excel"
                            styleClass="p-button-sm p-button-danger" [disabled]="true" [text]="false">
                        </p-button>
                    </td>
                    -->
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="load" [modal]="true" [closable]="false" [showHeader]="false" [draggable]="false" [resizable] = "false">
    <div class="flex flex-column justify-content-center align-items-center" style="min-width: 200px; min-height: 100px;">
        <p-progressBar mode="indeterminate" style="width: 100%; height: 0px;"></p-progressBar>
        <p class="mt-5">Procesando...</p>
    </div>
</p-dialog>
