<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>


<div class="container"> 
    <p-panel header="Lista de Pagos" class="mb-3">
        <!---->
        <p-breadcrumb [model]="items" class="max-w-full;"></p-breadcrumb>
    </p-panel>
    <br />
    <div class="card">
        <div class="flex justify-content-between align-items-center mb-3">
            <p-button label="Nuevo" icon="pi pi-plus" (onClick)="iniciarNuevoRegistro()" [disabled]="mostrarNuevaFila" />
            
            <div class="flex align-items-center">
                <label for="rowsPerPage" class="mr-2">Filas por página:</label>
                <p-dropdown id="rowsPerPage" 
                [options]="[10, 20, 40]" [(ngModel)]="rowsPerPage" placeholder="Seleccionar" class="p-button-sm"></p-dropdown>

            </div>
        </div>
        <p-table [value]="listaRegistroCobro" [scrollable]="true" 
        [loading]="loading" [globalFilterFields]="['pagoNumero']" 
        [rows]="rowsPerPage" [paginator]="true" 
        [tableStyle]="{ width: '100%', border: '0px solid black' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Codigo</th>
                    <th class="col-cliente">Cliente</th>
                    <th >Fec.Deposito</th>
                    <th class="col-moneda">Moneda</th>
                    <th>Importe</th>
                    <th class="col-mediopago">MedioPago</th>
                    <th>Motivo</th>
                    <th>Acciones</th>
                    <!-- <th rowspan="2">
                        Pago Nro
                        <br />
                        <br />
                        <p-columnFilter type="text" field="pagoNumero" placeholder="Buscar" ariaLabel="Pago Nro"
                            [showMenu]="false" matchMode="contains"></p-columnFilter>
                    </th>
                    <th rowspan="2">Fecha</th>
                    <th rowspan="2">Motivo</th>
                    <th rowspan="2">Medio Pago</th>
                    <th colspan="2" class="text-center">Bruto a Pagar</th>
                    <th colspan="3" class="text-center">Afectos</th>
                    <th colspan="2" class="text-center">Neto a Pagar</th>
                    <th colspan="5"></th> -->

                </tr>
               
            </ng-template>
            <ng-template pTemplate="body" let-regcobro>
                <tr>
                    <td>
                        <ng-container *ngIf="!editingRegCobro[regcobro.ban03numero] else viewMode">
                            {{regcobro.ban03numero}}
                        </ng-container>
                        <ng-template #viewMode>
                            <input pInputText [(ngModel)]="editaFormulario.ban03numero"
                            class="w-full" />
                        </ng-template>
                        
                    </td>
                    <td class="col-cliente">
                           {{regcobro.clienteNombre}}
                    </td>
                    <td>
                           {{regcobro.ban03FechaDeposito}}
                           
                    </td>
                    <td class="col-moneda">

                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="monedaOpciones" [(ngModel)]="regcobro.ban03Moneda"
                                    placeholder="Seleccionar moneda" optionLabel="label" optionValue="value"
                                    appendTo="body" class="p-inputtext-sm w-full">
                                </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{
                                regcobro.ban03Moneda === 'S' ? 'Soles' :
                                regcobro.ban03Moneda === 'D' ? 'Dólares' : ''
                                }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                           {{regcobro.ban03Importe}}
                    </td>
                    <td class="col-mediopago">
                           {{regcobro.medioPagoDescripcion}}
                    </td>
                    <td>
                           {{regcobro.ban03Motivo}}
                    </td>
                    <td>
                        <p-button icon="pi pi-eye" styleClass="p-button-info p-button-sm"
                                    pTooltip="Ver Detalles" [text]="true" (onClick)="verDetalles(regcobro)"
                                    [disabled]="botonesDeshabilitados"></p-button>
                        <p-button icon="pi pi-pencil" styleClass="p-button-info p-button-sm"
                                    pTooltip="Modificar" [text]="true" (onClick)="iniciarEdicion(regcobro)"
                                    [disabled]="botonesDeshabilitados"></p-button>
                        <p-button 
                            icon="pi pi-trash" 
                            styleClass="p-button-info p-button-sm" 
                            (click)="eliminarPago(regcobro)"
                            [text]="true"
                            pTooltip="Eliminar"
                            [disabled]="botonesDeshabilitados">
                        </p-button>
                         
                    </td>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr *ngIf="mostrarNuevaFila">
                    <td style="min-width: 100px">
                        {{ nuevoFormulario.ban03Numero }}
                        
                    </td>
                    <td class="col-cliente">
                        <!-- cliente -->
                        <p-dropdown [options]="proveedores" optionLabel="razonsocial"
                            optionValue="ruc" [(ngModel)]="nuevoFormulario.ban03clienteruc"
                            class="p-inputtext-sm w-full" (onChange)="onMedioChange($event)" [filter]="true"
                            filterBy="razonsocial" filterMatchMode="contains" placeholder="cliente" appendTo="body">
                        </p-dropdown>
                        
                    </td>

                    <td style="min-width: 130px">
                        <!-- fecha deposito -->
                       
                         <ng-container>
                            <p-calendar [(ngModel)]="nuevoFormulario.ban03FechaDeposito" 
                                dateFormat="dd/mm/yy" placeholder="Fecha"
                                (onSelect)="actualizarFechaEdicion($event)" 
                                [showIcon]="true" appendTo="body"
                                class="w-full"></p-calendar>
                         </ng-container>
                        
                    </td>
                     <td class="col-moneda">
                        <!-- moneda -->
                        <!--
                        <input pInputText [(ngModel)]="nuevoPresupuesto.ban01Descripcion" placeholder="Descripción"
                            class="w-full" /> -->
                            <ng-container >
                                <p-dropdown [options]="monedaOpciones" 
                                    [(ngModel)]="nuevoFormulario.ban03moneda"
                                    placeholder="Seleccionar moneda" 
                                    optionLabel="label" 
                                    optionValue="value"
                                    appendTo="body" 
                                    class="p-inputtext-sm w-full">
                                </p-dropdown>
                            </ng-container>
                    </td>
                    
                    <td style="min-width: 80px">
                        <!--Importe-->
                        <ng-container>
                            <input pInputText [(model)]="nuevoFormulario.ban03Importe"
                                   placeholder="Ingresar importe"
                                   class="w-full">
                        </ng-container>
                         
                    </td>
                    <td class="col-mediopago">
                        <!-- medio pago-->
                         <ng-container>
                            <p-dropdown [options]="medioPagoLista"
                                [(ngModel)]="nuevoFormulario.ban03MedioPago"
                                placenholder="seleccione medio pago"
                                optionLabel="ban01Descripcion"
                                optionValue="ban01IdTipoPago"
                                appendTo="body"
                                class="p-inputtext-sm w-full"
                            ></p-dropdown>
                            
                         </ng-container>
                    </td>
                    <td style="min-width: 150px">
                        <!-- motivo (texto)-->
                          <input pInputText [(ngModel)]="nuevoFormulario.ban03Motivo"
                                   placeholder="Ingresar motivo"
                                   class="w-full">
                    </td>
                    <td colspan="5"></td>
                    <td>
                        <div class="flex gap-2">
                            <p-button icon="pi pi-check" styleClass="p-button-success p-button-sm" [text]="true"
                                (onClick)="guardarNuevo()" pTooltip="Guardar"></p-button>
                            <p-button icon="pi pi-times" styleClass="p-button-danger p-button-sm" [text]="true"
                                (onClick)="cancelarNuevo()" pTooltip="Cancelar"></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="16" style="
                            text-align: center;
                            font-weight: bold;
                            padding: 1rem;
                        ">
                        No se encontraron registros
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
</div>