<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-dialog  [(visible)]="verConfirmarPago" [modal]="true"
header="COnfirmar pago"
[style]="{ width: '20vw', height: 'auto' }" [draggable]="false" [resizable]="false" 
    [maximizable]="true"
    [baseZIndex]="10000" (onHide)="selectedPagoNumero = ''; onCloseModal()" 
    
>

<app-confirmar-pago 
[pagoNumero]="selectedPagoNumero"
 [modoDetraccion]="true"
 [numeroLote]="selectedNumeroLote"
 [modoPresupuesto]="false"
 [modoRetencion]="false"
 
(onClose)="onCloseModal()"
 ></app-confirmar-pago>
</p-dialog>
<div class="container">
    <p-panel>
        <p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>
    </p-panel>
    <br/>
    <div class="card">
        <div class="flex justify-content-between align-items-center mb-3">
            <div class="flex alighn-items-center">
                <label for="rowsPerPage" class="mb-2">Filas por pagina:</label>
                <p-dropdown id="rowsPerPage" [options]="[10, 20, 40]"
                [(ngModel)]="rowsPerPage"  
                placeholder="Seleccionar" class="p-button-sm"></p-dropdown>
            </div>

        </div>
            
            <!-- tabla de datos-->
            <p-table [value]="detraccionMasivaList"
            [paginator]="true"
            [rows]="rowsPerPage"
            responsiveLayout="scrol"
            styleClass="p-datatable-sm"
            [loading]="loading"
            >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 8%;white-space: pre-wrap;">Lote<br>Detraccion</th>
                            <th style="width: 8%;white-space: pre-wrap;">Pago<br>Nro</th> 
                            
                            <th style="width: 8%">Fecha</th>
                            <th style="width: 8%">Motivo</th>
                            <th style="width: 8%;">Medio Pago</th>
                            <!-- <th style="width: 8%">ruc</th>
                            <th style="width: 8%">proveedor</th>
                            <th style="width: 8%">nrodoc</th>
                            <th style="width: 8%">moneda</th> -->
                            <th style="width: 8%; text-align: right;">Detra<br>soles</th>
                            <!-- <th style="width: 8%">detra<br>dolares</th> -->
                            <th style="width: 8%">Estado</th>
                            <th style="width: 8%">Fec<br>ejecucion</th>
                            <th style="width: 8%">Nro<br>operacion</th>
                            <th style="width:10%; text-align: center;">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" 
                        let-detmasiva>
                        <tr>
                            <td style="text-align:left; white-space:nowrap;" >
                                {{detmasiva.loteDetraccionNro}}
                            </td>
                            <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.presupuestoCod}}
                            </td>
                            
                        
                            <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.fecha}}
                            </td>

                            <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.motivo}}
                            </td>
                            <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.nombreMedioPago}}
                            </td>
                            <!-- ruc -->
                            <!-- <td></td> -->
                            <!--nombre proveedor -->
                            <!-- <td></td> -->
                            <!--nro doc-->
                            <!-- <td></td> -->
                        <!-- <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.moneda}}
                            </td> -->
                            
                            <td style="text-align:right; ">
                                {{formatearNumero(detmasiva.detraccionImporteSoles)}}
                            </td>
                            <!-- <td style="text-align:right; white-space:nowrap;">
                                {{formatearNumero(detmasiva.detraccionImporteDolares)}}
                            </td> -->
                            <td style="text-align:right;">
                                {{detmasiva.estadopresupuesto}}
                            </td>
                             <td>
                                {{detmasiva.fechaejecucionpago}}
                            </td>
                             <td>
                                {{detmasiva.nrooperacion}}
                            </td>
                            <td>
                                <div class="flex justify-content-center gap-2">
                                    
                                    
                                    <button pButton icon="pi pi-eye" pVerDetalle
                                    class="p-button.p-button-rounded p-button-text p-button-sm p-button-info"
                                    (click)="verDetalle(detmasiva)"
                                    ></button>

                                    <ng-container *ngIf="detmasiva.presupuestoCod == '00000'">
                                        <button pButton icon="pi pi-trash" pEliminarPago
                                            class="p-button p-button-rounded p-button-text p-button-sm p-disabled"
                                            [disabled] = "true"
                                            (click)="eliminarPagoPresupuesto(detmasiva)">
                                        </button>
                                    </ng-container>
                                    <ng-container *ngIf="detmasiva.presupuestoCod !='00000'">
                                        <button pButton icon="pi pi-trash" pEliminarPago
                                            class="p-button p-button-rounded p-button-text p-button-sm p-button-danger"
                                            [disabled] = "false"
                                            (click)="eliminarPagoPresupuesto(detmasiva)">
                                        </button>
                                    </ng-container>
                                    <ng-container>

                                    </ng-container>


                                    <ng-container *ngIf="detmasiva.presupuestoCod == '00000'">
                                        <button pButton icon="pi pi-money-bill" pConfirmarPago
                                            class="p-button.p-button-rounded p-button-text p-button-sm p-button-success"
                                            (click)="confirmarPagoPresupuesto(detmasiva)" [disabled]="false"></button>
                                    </ng-container>
                                    <ng-container *ngIf="detmasiva.presupuestoCod !='00000'">
                                        <button pButton icon="pi pi-money-bill" pConfirmarPago
                                            class="p-button.p-button-rounded p-button-text p-button-sm p-disabled"
                                            (click)="confirmarPagoPresupuesto(detmasiva)" [disabled]="true" ></button>
                                    </ng-container>
                                    <ng-container *ngIf="detmasiva.presupuestoCod =='00000'">
                                         <button pButton icon="pi pi-file-pdf" pVerDocumento
                                                class="p-button p-button-rounded p-button-text p-button-sm p-button-danger"
                                                [disabled] = "true"
                                                (click)="abrirdocumento(detmasiva)">
                                            </button>
                                    </ng-container>
                                    <ng-container *ngIf="detmasiva.presupuestoCod !='00000'">
                                         <button pButton icon="pi pi-file-pdf" pVerDocumento
                                                class="p-button p-button-rounded p-button-text p-button-sm p-button-danger"
                                                [disabled] = "false"
                                                (click)="abrirdocumento(detmasiva)">
                                            </button>
                                    </ng-container>
                                     <p-button icon="pi pi-file" styleClass="p-button-info p-button-sm"
                                                tooltipPosition="left" pTooltip="Ver voucher contable" [text]="true"
                                                (onClick)="verVouchercontable(detmasiva)"
                                                [disabled]="detmasiva.presupuestoCod !='00000' ? false:true ">
                                    </p-button>
                                    
                                    

                                </div>
                            </td>
                        </tr>
                    </ng-template>
            </p-table>
    </div>
</div>