
<p-dialog  [(visible)]="verConfirmarPago" [modal]="true"
header="COnfirmar pago"
[style]="{ width: '20vw', height: 'auto' }" [draggable]="false" [resizable]="false" 
    [maximizable]="true"
    [baseZIndex]="10000" (onHide)="selectedPagoNumero = ''; onCloseModal()" 
    
>

<app-confirmar-pago 
[pagoNumero]="selectedPagoNumero"
 [modoDetraccion]="true"
 [numeroLote]="selectedNumeroLote"
 
(onClose)="onCloseModal()"
 ></app-confirmar-pago>
</p-dialog>
<div class="container">
    <p-panel>
        <p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>
    </p-panel>
    <br/>
    <div class="card">
        <div class="flex justify-content-between align-items-center mb-3">
            <div class="flex alighn-items-center">
                <label for="rowsPerPage" class="mb-2">Filas por pagina:</label>
                <p-dropdown id="rowsPerPage" [options]="[10, 20, 40]"
                [(ngModel)]="rowsPerPage"  
                placeholder="Seleccionar" class="p-button-sm"></p-dropdown>
            </div>

        </div>
            
            <!-- tabla de datos-->
            <p-table [value]="detraccionMasivaList"
            [paginator]="true"
            [rows]="rowsPerPage"
            responsiveLayout="scrol"
            styleClass="p-datatable-sm"
            [loading]="loading"
            >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 5%;display: none;">EmpresaCod</th>
                            <th style="width: 8%;display: none;">Anio</th>

                            <th style="width: 8%;display: none;">Mes</th>
                             <th style="width: 8%;white-space: pre-wrap;">Pago<br>Nro</th> 
                             <th style="width: 8%;white-space: pre-wrap;">Lote<br>Detraccion</th>
                              <th style="width: 8%">fecha</th>
                             <th style="width: 8%">motivo</th>
                            <th style="width: 8%;white-space: pre-wrap;">nombre<br>MedioPago</th>
                            <th style="width: 8%">Moneda</th>
                            <th style="width: 8%;white-space: pre-wrap;">ImpTota<br>Doc.</th>
                            <th style="width: 8%;white-space: pre-wrap;">Importe<br>Detra.</th>
                            <th style="width:10%; text-align: center;">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" 
                        let-detmasiva>
                        <tr>
                            <td style="text-align:left; white-space:nowrap;display: none;">
                            {{ detmasiva.empresaCod}}
                            </td>
                            <td style="text-align:left; white-space:nowrap;display: none;">
                                {{detmasiva.anio}}
                            </td>
                            <td style="text-align:left; white-space:nowrap;;display: none;">
                                {{detmasiva.mes}}
                            </td>
                            <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.presupuestoCod}}
                            </td>
                            <td style="text-align:left; white-space:nowrap;" >
                                {{detmasiva.loteDetraccionNro}}
                            </td>
                        
                            <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.fecha}}
                            </td>

                            <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.motivo}}
                            </td>
                            <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.nombreMedioPago}}
                            </td>
                        <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.moneda}}
                            </td>
                            
                            <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.facturaImporteSol}}
                            </td>
                            <td style="text-align:left; white-space:nowrap;">
                                {{detmasiva.detraccionImporteSol}}
                            </td>
                            <td>
                                <div class="flex justify-content-center gap-2">
                                    
                                    
                                    <button pButton icon="pi pi-eye" pVerDetalle
                                    class="p-button.p-button-rounded p-button-text p-button-sm p-button-info"
                                    (click)="verDetalle(detmasiva)"
                                    ></button>

                                    <ng-container *ngIf="detmasiva.presupuestoCod.length == 0">
                                        <button pButton icon="pi pi-trash" pEliminarPago
                                            class="p-button p-button-rounded p-button-text p-button-sm p-disabled"
                                            [disabled] = "true"
                                            (click)="eliminarPagoPresupuesto()">
                                        </button>
                                    </ng-container>
                                    <ng-container *ngIf="detmasiva.presupuestoCod.length > 0">
                                        <button pButton icon="pi pi-trash" pEliminarPago
                                            class="p-button p-button-rounded p-button-text p-button-sm p-button-danger"
                                            [disabled] = "true"
                                            (click)="eliminarPagoPresupuesto()">
                                        </button>
                                    </ng-container>
                                    <ng-container>

                                    </ng-container>


                                    <ng-container *ngIf="detmasiva.presupuestoCod.length== 0">
                                        <button pButton icon="pi pi-money-bill" pConfirmarPago
                                            class="p-button.p-button-rounded p-button-text p-button-sm p-button-success"
                                            (click)="confirmarPagoPresupuesto(detmasiva)"></button>
                                    </ng-container>
                                    <ng-container *ngIf="detmasiva.presupuestoCod.length>0">
                                        <button pButton icon="pi pi-money-bill" pConfirmarPago
                                            class="p-button.p-button-rounded p-button-text p-button-sm p-disabled"
                                            (click)="confirmarPagoPresupuesto(detmasiva)" [disabled]="true" ></button>
                                    </ng-container>

                                    
                                    
                                    

                                </div>
                            </td>
                        </tr>
                    </ng-template>
            </p-table>
    </div>
</div>