<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="container">
    <p-panel header="Consulta Doc.Histórico - Ctaxcobrar" class="mb-3">
        <p-breadcrumb [model]="items" class="max-w-full;"></p-breadcrumb>
        <br />
        <div class="search-bar">
            <input type="text" pInputText placeholder="" [(ngModel)]="textoBuscar" class="mr-3 w-5" />

            <p-button label="Buscar" styleClass="p-button-sm mr-2" icon="pi pi-search" (onClick)="buscar()"></p-button>

            <p-button label="Imprimir PDF" icon="pi pi-file" styleClass="p-button-sm p-button-success mr-2"
                (onClick)="obtenerFacturaPendiente()"></p-button>

        </div>
        <b class="">* digitar ruc , razon social, nro doc</b>
    </p-panel>
    <br />
    <div class="card p-2">
        <p-table [value]="consultaDocPagoList" [scrollable]="true" [tableStyle]="{width: '100%', border: '0px solid black'}"
            groupRowsBy="ruc" rowGroupMode="subheader" [loading]="load">
            <ng-template pTemplate="header">
                <tr>
                    <th>RUC</th>
                    <th>Nombre</th>
                    <th>Tip.Doc</th>
                    <th>Numero</th>
                    <th>Moneda Fact.</th>
                    <th>Fecha Factura</th>
                    <th>Fecha Venc.</th>
                    <th>Dias atrazo</th>
                    <th>Imp.Fact.</th>
                    <th>Fec.Pago</th>
                    <th>Pago Soles</th>
                    <th>Pago Dolares</th>  
                    <th>Saldo $</th>
                    <th>Saldo S/.</th>
                         
                    <th>Estado</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="groupheader" let-groupData>
                <tr pRowGroupHeader>
                </tr>
            </ng-template>
            <ng-template pTemplate="groupfooter" let-groupData>
                <tr>
                    <td colspan="8">
                    </td>
                    <td class="font-bold pr-12" style="text-align: right;">
                        {{calculateGroupTotal(groupData.ruc, 'importeFactura') | number:'1.2-2' }}
                    </td>
                    <td></td>
                    <td class="font-bold pr-12" style="text-align: right;">
                        {{calculateGroupTotal(groupData.ruc, 'importePagoSoles') | number:'1.2-2' }}
                    </td>
                    <td class="font-bold pr-12" style="text-align: right;">
                        {{calculateGroupTotal(groupData.ruc, 'importePagoDolares') | number:'1.2-2' }}
                    </td>
                     <td class="font-bold pr-12" style="text-align: right;">
                        {{calculateGroupTotal(groupData.ruc, 'saldoSoles') | number:'1.2-2' }}
                    </td>
                     <td class="font-bold pr-12" style="text-align: right;">
                        {{calculateGroupTotal(groupData.ruc, 'saldoDolares') | number:'1.2-2' }}
                    </td>
                </tr>

            </ng-template>

            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="8" class="font-bold" style="text-align: right;">TOTAL GENERAL:</td>
                    
                    
                    <td class="font-bold" style="text-align: right;">
                        {{ getTotalTabla('importeFactura') | number: '1.2-2' }}
                    </td>
                    <td></td>
                    <td class="font-bold" style="text-align: right;">
                        {{ getTotalTabla('importePagoSoles') | number: '1.2-2' }}
                    </td>
                    <td class="font-bold" style="text-align: right;">
                        {{ getTotalTabla('importePagoDolares') | number: '1.2-2' }}
                    </td>
                    <td class="font-bold" style="text-align: right;">
                        {{ getTotalTabla('saldoSoles') | number: '1.2-2' }}
                    </td>
                    <td class="font-bold" style="text-align: right;">
                        {{ getTotalTabla('saldoDolares') | number: '1.2-2' }}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-doc>
                <tr>
                    <td style="text-align: left; white-space: nowrap;">{{ doc.ruc }}</td>
                    <td style="text-align: left; white-space: nowrap;">{{ doc.razonSocial }}</td>
                    <td style="text-align: left; white-space: nowrap;">{{ doc.tipoDocDesc }}</td>
                    <td style="text-align: left; white-space: nowrap;">{{ doc.nroComprobante }}</td>
                    <td style="text-align: right; white-space: nowrap;">{{ doc.monedaFactura }}</td>
                    <td style="text-align: left; white-space: nowrap;">{{doc.fechaFactura}}</td>
                    <td style="text-align: left; white-space: nowrap;">{{doc.fecVencimiento}}</td>
                    <td style="text-align: left; white-space: nowrap;">{{doc.diasAtraso }}</td>  
                   <td style="text-align: right; white-space: nowrap;">{{doc.importeFactura | number : "1.2-2" }}</td>  
                    <td style="text-align: left; white-space: nowrap;">{{doc.fechapago }}</td>  
                    <td style="text-align: right; white-space: nowrap;">{{ doc.importePagoSoles | number : "1.2-2"}}</td>
                    <td style="text-align: right; white-space: nowrap;">{{ doc.importePagoDolares | number : "1.2-2"}}</td>

                    <td style="text-align: right; white-space: nowrap;">{{ doc.saldoSoles | number : "1.2-2"}}</td>
                    <td style="text-align: right; white-space: nowrap;">{{ doc.saldoDolares | number : "1.2-2"}}</td>
                    <!-- <td style="text-align: right; white-space: nowrap;">{{ doc.estadopago }}</td>                     -->
                     <td style="text-align: right; white-space: nowrap;">
                        <p-tag 
                            [severity]="doc.estadopago === 'Pendiente' ? 'danger' : (doc.estadopago === 'Cobrado' ? 'info' : 
                            (doc.estadopago === 'Parcial' ? 'warning' : 'secondary'))">
                            {{ doc.estadopago }}
                        </p-tag>
                    </td>

                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="15" style="text-align: center; font-weight: bold; padding: 1rem;">
                        no hay resultado
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>


</div>


