<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="container">
    <p-panel header="Lista de Bancos" class="mb-3">
        <p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>
    </p-panel>

    <div class="card">
        <!-- Botón Nuevo -->
        <div class="flex justify-content-between align-items-center mb-3">
            <button type="button" pButton icon="pi pi-plus" label="Nuevo Banco"
                    (click)="showAddRow()" [disabled]="isEditingAnyRow"
                    class="p-button-sm"></button>
        </div>

        <!-- Tabla Principal -->
        <p-table [value]="bancoList"
                 dataKey="ban01IdBanco"
                 editMode="row"
                 [paginator]="true"
                 [rows]="10"
                 responsiveLayout="scroll"
                 styleClass="p-datatable-sm">
            <!-- Cabecera de Tabla -->
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 20%">ID</th>
                    <th style="width: 40%">Descripción</th>
                    <th style="width: 20%">Prefijo</th>
                    <th style="width: 20%">Acciones</th>
                </tr>
            </ng-template>

            <!-- Cuerpo de Tabla -->
            <ng-template pTemplate="body" let-banco let-ri="rowIndex" let-editing="editing">
                <tr [pEditableRow]="banco">
                    <!-- Columna ID -->
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="banco.ban01IdBanco"
                                       class="p-inputtext-sm w-full" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{banco.ban01IdBanco}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna Descripción -->
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="banco.ban01Descripcion"
                                       class="p-inputtext-sm w-full" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{banco.ban01Descripcion}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna Prefijo -->
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="banco.ban01Prefijo"
                                       class="p-inputtext-sm w-full" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{banco.ban01Prefijo}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna Acciones -->
                    <td>
                        <div class="flex justify-content-start gap-2">
                            <!-- Botón Editar -->
                            <button *ngIf="!editing" pButton
                                    pInitEditableRow
                                    (click)="onRowEditInit(banco)"
                                    icon="pi pi-pencil"
                                    pTooltip="Editar Banco"
                                    [disabled]="isNew || isEditingAnyRow"
                                    class="p-button-rounded p-button-text p-button-sm"></button>

                            <!-- Botón Guardar -->
                            <button *ngIf="editing" pButton
                                    pSaveEditableRow
                                    (click)="onRowEditSave(banco)"
                                    icon="pi pi-check"
                                    pTooltip="Guardar"
                                    class="p-button-rounded p-button-text p-button-sm p-button-success"></button>

                            <!-- Botón Cancelar -->
                            <button *ngIf="editing" pButton
                                    pCancelEditableRow
                                    (click)="onRowEditCancel(banco, ri)"
                                    icon="pi pi-times"
                                    pTooltip="Cancelar"
                                    class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>

                            <!-- Botón Eliminar -->
                            <button *ngIf="!editing" pButton
                                    type="button"
                                    (click)="onDelete(banco, ri)"
                                    icon="pi pi-trash"
                                    pTooltip="Borrar Banco"
                                    [disabled]="isNew || isEditingAnyRow"
                                    class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>
                              <button *ngIf="!editing" pButton type="button" (click)="verCuentas(banco)"
                                icon="pi pi-cog" pTooltip="Ver Cuentas" [disabled]="isNew || isEditingAnyRow"
                                class="p-button-rounded p-button-text p-button-sm"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <!-- Footer para Nuevo Registro -->
            <ng-template pTemplate="footer">
                <tr *ngIf="isEditing">
                    <td colspan="4">
                        <form [formGroup]="bancoForm" class="grid p-fluid">
                            <!-- Campo ID -->
                            <div class="col-2" style="width: 20%">
                                <span class="p-input-icon-left w-full">
                                    <i class="pi pi-tag"></i>
                                    <input pInputText
                                           formControlName="ban01IdBanco"
                                           placeholder="Código Banco"
                                           class="p-inputtext-sm"/>
                                </span>
                            </div>

                            <!-- Campo Descripción -->
                            <div class="col-4" style="width: 40%">
                                <span class="p-input-icon-left w-full">
                                    <i class="pi pi-file"></i>
                                    <input pInputText
                                           formControlName="ban01Descripcion"
                                           placeholder="Descripción del Banco"
                                           class="p-inputtext-sm"/>
                                </span>
                            </div>

                            <!-- Campo Prefijo -->
                            <div class="col-2" style="width: 20%">
                                <span class="p-input-icon-left w-full">
                                    <i class="pi pi-tag"></i>
                                    <input pInputText
                                           formControlName="ban01Prefijo"
                                           placeholder="Prefijo"
                                           class="p-inputtext-sm"/>
                                </span>
                            </div>

                            <!-- Botones de Acción -->
                            <div class="col-2" style="width: 20%">
                                <div class="flex gap-2">
                                    <button type="button" pButton
                                            icon="pi pi-save"
                                            (click)="onSave()"
                                            [disabled]="!bancoForm.valid"
                                            pTooltip="Guardar"
                                            class="p-button-sm"></button>
                                    <button type="button" pButton
                                            icon="pi pi-times"
                                            (click)="onCancel()"
                                            pTooltip="Cancelar"
                                            class="p-button-sm p-button-secondary"></button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
