<p-confirmDialog></p-confirmDialog>
<div style="margin: 10px;">
    <p-panel header="Lista de Bancos">
        <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
    </p-panel>
</div>
<div style="margin:10px;">
    <p-toast></p-toast>
    <p-card>
        <div class="flex align-items-center mb-3">
            <h5>Número de cuentas bancarias - {{descripcion}}</h5>
        </div>
        <!-- Botón para agregar nueva rowData bancaria -->
        <div class="flex align-items-center mb-3">
            <p-button (click)="showAddRow()" icon="pi pi-plus" label="Nueva" class="mr-3"
                [disabled]="isEditingAnyRow"></p-button>
        </div>

        <!-- Filtro de búsqueda -->
        <!-- <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold" style="width: 50px;">Buscar:</label>
            <input pInputText type="text" (input)="onSearch($event.target.value)" placeholder="Buscar por empresa o descripción" style="width: 740px;"/>
        </div>
        <br /> -->

        <p-table [value]="Cuenta_BancariaList" dataKey="iCuenta" [paginator]="true" [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]" selectionMode="single" editMode="row"
            [tableStyle]="{ 'width': '100%', 'border': '1px solid black' }">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngIf="ocultarColumna" style="width: 120px;">IdEmpresa</th>
                    <th *ngIf="ocultarColumna" style="width: 120px;">IdBanco</th>
                    <th *ngIf="ocultarColumna" style="width: 120px;">Id</th>
                    <th style="width: 150px;">Banco</th>
                    <th style="width: 150px;">Id Cuenta</th>
                    <th style="width: 120px;">Moneda</th>
                    <th style="width: 180px;">Cuenta Bancaria</th>
                    <th style="width: 150px;">Cta Contable</th>
                    <th style="width: 150px;">Cta ITF</th>
                    <th style="width: 120px;">Pref</th>
                    <th style="width: 150px;">Cta Gastos</th>
                    <th style="width: 100px;">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-ri="rowIndex" let-editing="editing">
                <tr [pEditableRow]="rowData">
                    <td *ngIf="ocultarColumna" style="width: 120px;">{{ rowData.idEmpresa }}</td>
                    <td *ngIf="ocultarColumna" style="width: 120px;">{{ rowData.idBanco }}</td>
                    <td *ngIf="ocultarColumna" style="width: 120px;">{{ rowData.id }}</td>
                    <td style="width: 150px;">{{ rowData.nombreBanco }}</td>
                    <td style="width: 150px;">{{ rowData.idCuenta }}</td>
                    <td class="centered" style="width: 120px;">
                        <div *ngIf="editingRowIndex === ri">
                            <p-dropdown [options]="moneda" optionLabel="nombre" optionValue="id"
                                [(ngModel)]="rowData.moneda" (onChange)="onMonedaChange($event)" 
                                [filter]="true"
                                filterBy="nombre" placeholder="Moneda" appendTo="body">
                            </p-dropdown>

                        </div>
                        <div *ngIf="editingRowIndex !== ri">
                            {{ rowData.moneda }}
                        </div>
                    </td>
                    <td style="width: 180px;">{{ rowData.nombreCuentaBancaria }}</td>
                    <td style="width: 150px;">
                        <div *ngIf="editingRowIndex !== ri">
                            {{ rowData.ctaContable }}
                        </div>
                        <div *ngIf="editingRowIndex === ri">
                            <input pInputText type="text" [(ngModel)]="rowData.ctaContable"
                                class="p-inputtext-sm w-full" required>
                        </div>
                    </td>
                    <td style="width: 150px;">
                        <div *ngIf="editingRowIndex !== ri">
                            {{ rowData.ctaITF }}
                        </div>
                        <div *ngIf="editingRowIndex === ri">
                            <input pInputText type="text" [(ngModel)]="rowData.ctaITF" class="p-inputtext-sm w-full"
                                required>
                        </div>
                    </td>
                    <td style="width: 120px;">
                        <div *ngIf="editingRowIndex !== ri">
                            {{ rowData.pref }}
                        </div>
                        <div *ngIf="editingRowIndex === ri">
                            <input pInputText type="text" [(ngModel)]="rowData.pref" class="p-inputtext-sm w-full"
                                required>
                        </div>
                    </td>
                    <td style="width: 150px;">
                        <div *ngIf="editingRowIndex !== ri">
                            {{ rowData.ctaGastos }}
                        </div>
                        <div *ngIf="editingRowIndex === ri">
                            <input pInputText type="text" [(ngModel)]="rowData.ctaGastos" class="p-inputtext-sm w-full"
                                required>
                        </div>
                    </td>
                    <td style="width: 100px;">
                        <div style="display: flex; gap: 5px; justify-content: flex-start;">
                            <!-- Editar -->
                            <button *ngIf="editingRowIndex !== ri" pButton pInitEditableRow
                                (click)="onRowEditInit(rowData, ri)" icon="pi pi-pencil" tooltipPosition="top"
                                [disabled]="isNew || isEditingAnyRow" class="p-button-rounded p-button-text p-button-sm"
                                pTooltip="Editar"></button>

                            <!-- Guardar -->
                            <button *ngIf="editingRowIndex === ri" pButton pSaveEditableRow
                                (click)="onRowEditSave(rowData, ri)" icon="pi pi-save" tooltipPosition="top"
                                class="p-button-rounded p-button-text p-button-sm p-button-success"
                                pTooltip="Guardar"></button>

                            <!-- Cancelar -->
                            <button *ngIf="editingRowIndex === ri" pButton (click)="onRowEditCancel(ri)"
                                icon="pi pi-times" tooltipPosition="top"
                                class="p-button-rounded p-button-text p-button-sm p-button-danger"
                                pTooltip="Cancelar"></button>

                            <!-- Eliminar -->
                            <button *ngIf="editingRowIndex !== ri" pButton type="button" (click)="onDelete(rowData, ri)"
                                icon="pi pi-trash" pTooltip="Eliminar" tooltipPosition="top"
                                [disabled]="isNew || isEditingAnyRow"
                                class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <!-- Footer para insertar un nuevo dato -->
            <ng-template pTemplate="footer">
                <tr *ngIf="isEditing">
                    <td colspan="9" class="p-0">
                        <form [formGroup]="CuentaBancariaForm" style="padding-bottom: 10px;">
                            <td style="width: 150px;">
                                <div><input id="nombreBanco" pInputText class="p-inputtext-sm w-full" [value]="descripcion" readonly/></div>
                            </td>

                            <td style="width: 150px; padding-left: 10px;">
                                <div>
                                    <input id="idCuenta" pInputText formControlName="idCuenta" class="p-inputtext-sm w-full"
                                        placeholder="ID Cuenta" />
                                </div>
                            </td>
                            <td style="width: 120px;padding-left: 10px;">
                                <div>
                                    <p-dropdown [options]="moneda" formControlName="moneda" optionLabel="nombre"
                                        optionValue="id" class="p-inputtext-sm w-full" [filter]="true" filterBy="label"
                                        [(ngModel)]="selectMoneda" (onchange)="onMonedaChange($event)" placeholder="Moneda"
                                        appendTo="body"></p-dropdown>
                                </div>
                            </td>
                            <td style="width: 180px; padding-left: 10px;">
                                <div>

                                </div>
                            </td>

                            <td style="width: 150px; padding-left: 10px;">
                                <div>
                                    <input id="ctaContable" pInputText formControlName="ctaContable"
                                        class="p-inputtext-sm w-full" placeholder="Cuenta Contable" />
                                </div>
                            </td>

                            <td style="width: 150px; padding-left: 10px;">
                                <div>
                                    <input id="ctaITF" pInputText formControlName="ctaITF" class="p-inputtext-sm w-full"
                                        placeholder="Cuenta ITF" />
                                </div>
                            </td>

                            <td style="width: 120px; padding-left: 10px; padding-right: 20px;">
                                <div>
                                    <input id="pref" pInputText formControlName="pref" class="p-inputtext-sm w-full"
                                        placeholder="Pref" />
                                </div>
                            </td>

                            <td style="width: 150px;">
                                <div>
                                    <input id="ctaGastos" pInputText formControlName="ctaGastos" class="p-inputtext-sm w-full"
                                        placeholder="Cuenta Gasto" />
                                </div>

                            </td>
                            <td style="width: 100px;  padding-left: 10px;">
                                <div class="flex gap-2 justify-start">
                                    <button pButton icon="pi pi-save" (click)="onSave()" pTooltip="Guardar"
                                        tooltipPosition="top"
                                        class="p-button-rounded p-button-text p-button-sm p-button-success"></button>
                                    <button pButton icon="pi pi-times" (click)="onCancel()" pTooltip="Cancelar"
                                        tooltipPosition="top"
                                        class="p-button-rounded p-button-text p-button-sm p-button-danger"></button>
                                </div>
                            </td>
                        </form>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>

</div>