<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="container">
    <p-panel header="Lista de Pagos" class="mb-3">
        <p-breadcrumb [model]="items" class="max-w-full;"></p-breadcrumb>
        <br>
        <p-button label="Nuevo" icon="pi pi-plus"  [routerLink]="'/Home/nuevo-presupuesto'"/>
    </p-panel>
    <br>
    <div class="card p-2">
        <p-table
            [value]="presupuesto"
            [tableStyle]="{'min-width': '150rem'}"
            [scrollable]="true"
            scrollHeight="400px"
            [scrollDirection]="'both'"
            [loading]="loading"
        >

            <ng-template pTemplate="header">
                <tr>
                    <th rowspan="2">Pago Nro</th>
                    <th rowspan="2">Fecha</th>
                    <th rowspan="2">Motivo</th>
                    <th rowspan="2">Medio Pago</th>
                    <th colspan="2" class="text-center">Bruto a Pagar</th>
                    <th colspan="3" class="text-center">Afectos</th>
                    <th colspan="2" class="text-center">Neto a Pagar</th>
                    <th colspan="5"></th>
                </tr>
                <tr>
                    <th colspan="1">S/.</th>
                    <th colspan="1">US$</th>
                    <th colspan="1">Detracción</th>
                    <th colspan="1">Retención</th>
                    <th colspan="1">Percepción</th>
                    <th colspan="1">S/.</th>
                    <th colspan="1">US$</th>
                    <th colspan="1">Estado</th>
                    <th colspan="1">Fecha Ejecución Pago</th>
                    <th colspan="1">nro Operacion</th>
                    <th colspan="1">Adjuntar / Ver Comprobante pago</th>
                    <th colspan="1">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-presupuesto>
                <tr>
                    <td>{{presupuesto.pagoNumero}}</td>
                    <td>{{ presupuesto.fecha | date:'dd/MM/yyyy' }}</td>
                    <td>{{presupuesto.motivo}}</td>
                    <td>{{presupuesto.mediopago}}</td>
                    <td>{{presupuesto.impBrutoSoles | currency: 's/.'}}</td>
                    <td>{{presupuesto.impBrutoDolares | currency: 'USD'}}</td>
                    <td>{{presupuesto.impDetraccionSoles| currency: 's/.'}}</td>
                    <td>{{presupuesto.impRetencionSoles| currency: 's/.'}}</td>
                    <td>{{presupuesto.impPercepcionSoles| currency: 's/.'}}</td>
                    <td>{{presupuesto.netoPagaSoles | currency: 's/.'}}</td>
                    <td>{{presupuesto.netoPagoDolares | currency: 'USD'}}</td>
                    <td>{{presupuesto.estado}}</td>
                    <td></td>
                    <td></td>
                    <td>{{presupuesto.enlaceComprobante}}</td>
                    <td>
                        <div class="flex gap-2">
                            <p-button
                                icon="pi pi-eye"
                                styleClass="p-button-info p-button-sm"
                                pTooltip="Ver Detalles"
                                [text]="true"
                                (onClick)="verDetalles(presupuesto)"
                            ></p-button>
                            <p-button
                                icon="pi pi-pencil"
                                styleClass="p-button-info p-button-sm"
                                pTooltip="Modificar"
                                [text]="true"
                                (onClick)="modificarPago(presupuesto)"
                            ></p-button>
                            <p-button
                                icon="pi pi-trash"
                                styleClass="p-button-danger p-button-sm"
                                pTooltip="Eliminar"
                                [text]="true"
                                (onClick)="eliminarPago(presupuesto)"
                            ></p-button>
                            <p-button
                                icon="pi pi-check"
                                styleClass="p-button-success p-button-sm"
                                pTooltip="Confirmar Pago"
                                [text]="true"
                                (onClick)="confirmarPago(presupuesto)"
                            ></p-button>
                            <p-button
                                icon="pi pi-ban"
                                styleClass="p-button-danger p-button-sm"
                                (onClick)="anularPago(presupuesto)"
                                [text]="true"
                                pTooltip="Anular pago"
                            ></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
