<p-dialog  [(visible)]="verConfirmarPago" [modal]="true"
header="Confirmar pago individual"
[style]="{ width: '20vw', height: 'auto' }" [draggable]="false" [resizable]="false" 
    [maximizable]="true"
    [baseZIndex]="10000" 
    (onHide)="selectedPagoNumero = ''; onCloseModal()" 
    
>

<div *ngIf="verConfirmarPago">
        <app-confirmar-pago 
            [pagoNumero]="selectedPagoNumero"
            [modoDetraccion]="true"
            
            [numeroLote]="selectedNumeroLote"
            
            [seleccionadoDocPen] = "seleccionDetraIndividual"
            
            (onClose)="onCloseModal()"
        ></app-confirmar-pago>
 </div>
</p-dialog>

<p-toast key="main" [life]="2000"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="container">
    <p-panel header ="seleccione los documentos">
        <form [formGroup]="filtroFRM">
            <div style="display: flex; align-items: center; gap: 1rem; flex-wrap: wrap;">
                <div style="display: flex; align-items: center; gap: 0.5rem;">
                    <label>Proveedor: </label>
                    <p-dropdown [options]="proveedores" 
                        optionLabel="razonsocial" 
                        optionValue="ruc" 
                        formControlName="ruc"
                        (onChange)="onProveedorChallenge($event)" 
                        [filter]="true" filterBy="razonsocial" [showClear]="true"
                        placeholder="Seleccione un proveedor" styleClass="w-15rem" [virtualScroll]="true"
                        [virtualScrollItemSize]="38" 
                        [panelStyle]="{width:'350px', overflow: 'hidden', 'max-height': '300px' }">
                    </p-dropdown>
                </div>

                <div style="display: flex; align-items: center; gap: 0.5rem;">
                    <label>Numero de Documento: </label>
                    <input type="text" pInputText formControlName="nrodoc" style="width: 210px; overflow: hidden;" />
                </div>
            </div>
            <div style="margin-top: 1rem; display: flex; justify-content: space-between;">
                <!-- Botón Filtrar alineado a la izquierda -->
                <p-button label="Buscar" icon="pi pi-search" (onClick)="filtrar()"></p-button>

                <!-- Contenedor de botones alineados a la derecha -->
                <div style="display: none; gap: 0.5rem;">
                    <p-button label="Agregar" icon="pi pi-plus" (onClick)="onAddSelected()"></p-button>
                    <p-button label="Cancelar" icon="pi pi-ban" severity="danger"  (onClick)="onCancelSelection()"></p-button>
                    <!--
                    <p-button label="Cerrar" icon="pi pi-times" (onClick)="onCerrar()"></p-button>
                    -->
                </div>
            </div>
        </form>
        <br>
 <p-table [value]="listaDocendientedtra" [scrollable]="true" scrollHeight="400px"
            [scrollDirection]="'both'" [loading]="loading"
            showGridlines [(selection)]="selectedItems"
            dataKey="clave">
            <ng-template pTemplate="header">
                <tr>

                    <th>RUC</th>
                    <th>Razon Social</th>
                    <th>Tipo Doc</th>
                    <th>Numero</th>

                    <th>Moneda Original</th>
                    <th>S/. </th>
                    <th>US$</th>
                    <th>Fecha Emision</th>                                        
                    <th>Detra.Imp.Soles</th>
                    <th>Detra.Imp.Dolares</th>
                    <!-- <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th> -->
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ayudapago>
                <tr>
                    <td style="text-align: left;">{{ayudapago.ruc}}</td>
                    <td style="text-align: left;">{{ayudapago.razonsocial}}</td>
                    <td style="text-align: left;">{{ayudapago.nombretipodoc}}</td>
                    <td style="text-align: left;">{{ayudapago.numerodocumento}}</td>
                    <td style="text-align: left;">{{ayudapago.monedaoriginal}}</td>
                    <td style="text-align: right;">{{ayudapago.origsoles | number:'1.2-2'}}</td>
                    <td style="text-align: right;">{{ayudapago.origdolares | number:'1.2-2'}}</td>
                    <td style="text-align: left;">{{ayudapago.fechaemision}}</td>                                        
                    <td style="text-align: right;">{{ayudapago.detraimpsol | number:'1.2-2'}}</td>
                    <td style="text-align: right;">{{ayudapago.detraimpdol | number:'1.2-2'}}</td>
                    <!-- <td>
                        <p-tableCheckbox [value]="ayudapago"></p-tableCheckbox>
                    </td> -->
                    <td >
                        <button pButton icon="pi pi-money-bill" pConfirmarPago
                                class="p-button.p-button-rounded p-button-text p-button-sm "
                                (click)="confirmarPagoPresupuesto(ayudapago)" [disabled]="false" ></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="14" style="text-align: center; font-weight: bold; padding: 1rem;">
                        {{ searchedByDocNumber ? 'No se encontró el Número de documento' : 'No se encontraron registros' }}
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-panel>
</div>