<p-toast></p-toast>

<!-- Panel principal -->
<p-panel>
    <form [formGroup]="pagoForm">
        <div class="grid"> 
            <div class="field col-12 md:col-6 lg:col-4">
                <label for="tipo">Tipo<span class="text-danger">*</span></label>
                <input pInputText id="tipo" formControlName="amarre" class="w-full">
            </div>
            <div class="field col-12 md:col-8">
                <label for="cuenta">Cuenta<span class="text-danger">*</span></label>
                <input pInputText id="cuenta" formControlName="cuenta" class="w-full">
            </div>
            <div class="field col-12 md:col-12">
                <label for="cuentaDesc">Cuenta Desc.<span class="text-danger">*</span></label>
                <input pInputText id="cuentaDesc" formControlName="ctaCbleDesc" class="w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="cuentaCteCod">Cuenta Cte. Cod.<span class="text-danger">*</span></label>
                <input pInputText id="cuentaCteCod" formControlName="ctactecod" class="w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="cuentaCteDesc">Cuenta Cte. Desc.<span class="text-danger">*</span></label>
                <input pInputText id="cuentaCteDesc" formControlName="ctaCteDesc" class="w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="tipoDocDesc">Tipo Doc. Desc.<span class="text-danger">*</span></label>
                <input pInputText id="tipoDocDesc" formControlName="tipDocDes" class="w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="numDoc">Num. Doc.<span class="text-danger">*</span></label>
                <input pInputText id="numDoc" formControlName="numDoc" class="w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="fechaVencimiento">Fecha Vencimiento<span class="text-danger">*</span></label>
                <p-calendar id="fechaVencimiento" formControlName="fechaVencimiento" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
            </div>
            
            <div class="field col-12 md:col-6">
                <label for="tipoCambio">Tipo Cambio<span class="text-danger">*</span></label>
                <input pInputText id="tipoCambio" formControlName="tipoCambio" class="w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="debe">Debe<span class="text-danger">*</span></label>
                <input pInputText id="debe" formControlName="importeDebe" class="w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="haber">Haber<span class="text-danger">*</span></label>
                <input pInputText id="haber" formControlName="importeHaber" class="w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="cargo">Cargo<span class="text-danger">*</span></label>
                <input pInputText id="cargo" formControlName="importeDebeEquivalencia" class="w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="abono">Abono<span class="text-danger">*</span></label>
                <input pInputText id="abono" formControlName="importeHaberEquivalencia" class="w-full">
            </div>
        </div>

        <p-footer>
            <div class="flex justify-content-center gap-8">
                <p-button label="Aceptar" (onClick)="guardarConfirmacion()" styleClass="p-button-primary"></p-button>
                <p-button label="Cancelar" (onClick)="cancelar()" styleClass="p-button-danger"></p-button>
            </div>
        </p-footer>
    </form>
</p-panel>







<!-- Modal de confirmación -->
<p-dialog header="Archivo guardado correctamente" [(visible)]="mostrarDialogoExito" [modal]="true"
    [style]="{width: '450px'}" [closable]="false">
    <div class="flex align-items-center p-3">
        <i class="pi pi-check-circle text-green-500 mr-3" style="font-size: 2rem"></i>
        <span>{{mensajeExito}}</span>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <p-button label="OK" (onClick)="onConfirmOk()" styleClass="p-button-success"></p-button>
        </div>
    </ng-template>
</p-dialog>
