* {
    font-size: 0.9rem;
}

.overlay-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Para que el formulario se vea semi-transparente durante la carga */
:host ::ng-deep .p-panel {
    transition: opacity 0.3s ease;
}
