
<div *ngIf="loading" class="overlay-spinner">
    <p-progressSpinner strokeWidth="4" animationDuration="5s"></p-progressSpinner>
</div>

<!-- Formulario principal <p-toast></p-toast> -->
<p-toast></p-toast>
<p-panel  *ngIf="actVCForm" [style.opacity]="loading? '0.6' : '1'">
    <form [formGroup]="actVCForm">
        <div class="grid">
            <fieldset class="input-group w-full m-0 ">
                <div class="grid">
                    <div class="field col-12 md:col-6 flex align-items-center  gap-2 mb-0  pb-1">
                        <label for="cuenta" class="w-3rem">Cuenta </label>
                        <p-dropdown id="cuenta" formControlName="cuenta"
                                    [options]="cuentas"
                                    placeholder="Seleccione"
                                    optionLabel="labelCuenta"
                                    optionValue="valueCuenta"
                                    [virtualScroll]="true"
                                    [itemSize]="30"
                                    class="flex-1 w-full" [filter]="true" filterMatchMode="contains"
                                filterBy="labelCuenta"
                                [panelStyle]="{ 'max-height': '300px', 'overflow-y': 'auto' }"
                                >
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6 flex align-items-center  gap-1 mb-0  pb-1">
                        <label for="cuenta2" class="w-3rem">Cuenta </label>
                        <p-dropdown id="cuenta2" formControlName="cuenta2"
                                    [options]=""
                                    placeholder="Seleccione"
                                    class="flex-1 w-full" >
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-12 flex align-items-center  gap-2 mb-0  pt-1  pb-1">
                        <label for="comprobante" class="w-3rem">Compro bante </label>
                        <input pInputText id="comprobante" formControlName="comprobante" class="flex-1 w-full">
                    </div>
                    <div class="field col-12 md:col-12 flex align-items-center  gap-2 mb-0  pt-1 pb-0">
                        <label for="glosa" class="w-3rem">Glosa </label>
                        <input pInputText id="glosa" formControlName="glosa" class="flex-1 w-full">
                    </div>
                </div>
            </fieldset>

            <fieldset class="input-group w-full m-0">
                <div class="grid">
                        <div class="field col-12 md:col-6 flex align-items-center  gap-1 mb-0   pb-0">
                            <label for="centroCosto" class="w-4rem">Centro de costo </label>

                            <p-dropdown id="centroCosto" formControlName="centroCosto"
                                    [options]=""
                                    placeholder="Seleccione"
                                    class="flex-1">
                           </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-6 flex align-items-center  gap-1 mb-0   pb-0">
                            <label for="centroGestion" class="w-4rem">Centro de gestión </label>

                            <p-dropdown id="centroGestion" formControlName="centroGestion"
                                    [options]=""
                                    placeholder="Seleccione"
                                    class="flex-1">
                           </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-6 flex align-items-center  gap-1 mb-0  pt-0  pb-0">
                            <label for="maquina" class="w-4rem">Máquina </label>

                            <p-dropdown id="maquina" formControlName="maquina"
                                    [options]=""
                                    placeholder="Seleccione"
                                    class="flex-1">
                           </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-6 flex align-items-center  gap-1 mb-0  pt-0  pb-0">
                            <label for="trabajoCurso" class="w-4rem">Trabajo en curso </label>

                            <p-dropdown id="trabajoCurso" formControlName="trabajoCurso"
                                    [options]=""
                                    placeholder="Seleccione"
                                    class="flex-1">
                           </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-12 flex align-items-center  gap-1 mb-0  pt-0 pb-0">
                            <label for="cuentaCorriente" class="w-4rem">Cuenta corriente </label>

                            <p-dropdown id="cuentaCorriente" formControlName="cuentaCorriente"
                                    [options]="cuentasCorrientes"
                                    optionLabel="labelCCorriente"
                                    optionValue="valueCCorriente"
                                    [virtualScroll]="true"
                                    [itemSize]="30"
                                    placeholder="Seleccione"
                                    class="flex-1" class="flex-1 w-full" [filter]="true" filterMatchMode="contains"
                                filterBy="labelCCorriente"
                                [panelStyle]="{ 'max-height': '300px', 'overflow-y': 'auto' }"
                                >
                           </p-dropdown>
                        </div>

                </div>
            </fieldset>
            <fieldset class="input-group w-full m-0">
                <div class="grid">
                    <div class="field col-12 md:col-6 lg:col-4 flex align-items-center  gap-0 mb-0   pb-1">
                        <label for="tipDoc" class="w-2rem">Tipo Doc. </label>

                        <p-dropdown id="tipDoc" formControlName="tipDoc"
                                    [options]="tipoDocumentos"
                                    optionLabel="labelTDocumento"
                                    optionValue="valueTDocumento"
                                    [virtualScroll]="true"
                                    [itemSize]="30"
                                    placeholder="Seleccione"
                                    class="flex-1 w-full" class="flex-1 w-full" [filter]="true" filterMatchMode="contains"
                                filterBy="labelTDocumento"
                                [panelStyle]="{ 'max-height': '300px', 'overflow-y': 'auto' }"
                                >
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-12 lg:col-4 flex align-items-center  gap-0 mb-0   pb-1">
                        <label for="nroDoc" class="w-2rem">Nro. Doc. </label>
                        <input pInputText id="nroDoc" formControlName="nroDoc" class="flex-1 w-full">
                    </div>
                    <div class="field col-12 md:col-6 lg:col-4 flex align-items-center  gap-0 mb-0   pb-1">
                        <label for="fechaDoc" class="w-3rem">Fecha Doc. </label>
                        <p-calendar id="fechaDoc" formControlName="fechaDoc" dateFormat="dd/mm/yy" showIcon="true"  class="flex-1 w-full"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-3 flex align-items-center  gap-0 mb-0  pt-1  pb-0">
                        <label for="AnioDUA" class="w-2rem">Año DUA </label>
                        <input pInputText id="AnioDUA" formControlName="AnioDUA" class="flex-1 w-full">
                    </div>
                    <div class="field col-12 md:col-6 lg:col-3 flex align-items-center  gap-0 mb-0  pt-1  pb-0">
                        <label for="fechaVencim" class="w-5rem">Fecha Vcto. </label>
                        <p-calendar id="fechaVencim" formControlName="fechaVencim" dateFormat="dd/mm/yy" showIcon="true"  class="flex-1 w-full"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-3 flex align-items-center  gap-2 mb-0  pt-1  pb-0">
                        <label for="fechaPago" class="w-2rem">Fecha Pago </label>
                        <p-calendar id="fechaPago" formControlName="fechaPago" dateFormat="dd/mm/yy" showIcon="true"  class="flex-1 w-full"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-12 lg:col-3 flex align-items-center  gap-1 mb-0  pt-1  pb-0">
                        <label for="numeroPago" class="w-2rem">Nro. Pago </label>
                        <input pInputText id="numeroPago" formControlName="numeroPago" class="flex-1 w-full">
                    </div>
                    <fieldset class="input-group w-full mt-1 mx-3">
                        <legend> Doc. Modifica</legend>

                        <div class="grid">
                            <div class="field col-12 md:col-6 lg:col-4 flex align-items-center  gap-0 mb-0  pb-0">
                                <label for="tipoDocDocModifica" class="w-4rem">Tipo Doc </label>

                                <p-dropdown id="tipoDocDocModifica" formControlName="tipoDocDocModifica"
                                    [options]="tipoDocumentos"
                                    optionLabel="labelTDocumento"
                                    optionValue="valueTDocumento"
                                    [virtualScroll]="true"
                                    [itemSize]="30"
                                    placeholder="Seleccione"
                                    class="flex-1 w-full" class="flex-1 w-full" [filter]="true" filterMatchMode="contains"
                                filterBy="labelTDocumento"
                                [panelStyle]="{ 'max-height': '300px', 'overflow-y': 'auto' }"
                                >
                                 </p-dropdown>
                            </div>
                            <div class="field col-12 md:col-6 lg:col-4  flex align-items-center  gap-0 mb-0  pb-0">
                                <label for="numeroDocModifica" class="w-2rem">Nro. </label>
                                <input pInputText id="numeroDocModifica" formControlName="numeroDocModifica" class="flex-1 w-full">
                            </div>
                            <div class="field col-12 md:col-6 lg:col-4 flex align-items-center  gap-0 mb-0  pb-0">
                                <label for="fechaDocModifica" class="w-3rem">Fecha </label>
                                <p-calendar id="fechaDocModifica" formControlName="fechaDocModifica" dateFormat="dd/mm/yy" showIcon="true" class="w-full"></p-calendar>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </fieldset>
            <fieldset class="input-group w-full m-0">
                <div class="grid">
                    <div class="field col-12 md:col-6 lg:col-3 flex align-items-center  gap-3 mb-0   pb-0">
                        <label for="columna" class="w-3rem">Columna </label>
                        <p-dropdown id="columna" formControlName="columna"
                                    [options]=""
                                    placeholder="Seleccione"
                                    class="flex-1 w-6rem">
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-2  flex align-items-center  gap-2 mb-0  pb-0">
                        <label for="moneda" class="w-3rem">Moneda </label>
                        <p-dropdown id="moneda" formControlName="moneda"
                                    [options]="monedas"
                                    placeholder="Seleccione"
                                    class="flex-1 w-3rem">
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-2 flex align-items-center  gap-1 mb-0  pb-0">
                        <label for="tipoCambio" class="w-3rem">Tip. Cambio </label>
                        <input pInputText id="tipoCambio" formControlName="tipoCambio" class="flex-1 w-full">
                    </div>
                     <div class="field col-12 md:col-6 lg:col-3  flex align-items-center  gap-3 mb-0  pb-0">
                        <label for="debe" class="w-2rem">Debe </label>
                        <input pInputText id="debe" formControlName="debe" class="flex-1 w-5rem">
                    </div>
                    <div class="field col-12 md:col-6 lg:col-2  flex align-items-center  gap-0 mb-0  pb-0 pl-0">
                        <input pInputText id="debe2" formControlName="debe2" class="flex-1 w-full">
                    </div>
                    <div class="field col-12 md:col-6 lg:col-7 flex align-items-center  gap-0 mb-0  pt-1 pb-0">
                    </div>
                     <div class="field col-12 md:col-6 lg:col-3  flex align-items-center  gap-3 mb-0 pt-1 pb-0">
                        <label for="haber" class="w-2rem">Haber </label>
                        <input pInputText id="haber" formControlName="haber" class="flex-1 w-5rem">
                    </div>
                    <div class="field col-12 md:col-6 lg:col-2  flex align-items-center  gap-0 mb-0 pt-1  pb-0 pl-0">
                        <input pInputText id="haber2" formControlName="haber2" class="flex-1 w-full">
                    </div>
                </div>
            </fieldset>

            <div class="field col-12 md:col-12 lg:col-3 flex align-items-center  gap-2 mb-0 ">
                <p-checkbox id="afectoRet" name="afectoRet" [(ngModel)]="afectoRetencion" formControlName="afectoRet"  binary="true"></p-checkbox>
                <label for="afectoRet">Afecto a retención</label>
            </div>

            <fieldset *ngIf="afectoRetencion" class="input-group w-full m-0">
                <legend> Datos de retención</legend>
                <div class="grid">
                    <div class="field col-12 md:col-6 lg:col-3 flex align-items-center  gap-1 mb-0 pb-0">
                        <label for="tipTranRet" class="w-3rem">Tip. Tran </label>
                        <p-dropdown id="tipTranRet" formControlName="tipTranRet"
                                    [options]=""
                                    placeholder="Seleccione"
                                    class="flex-1" >
                         </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-2  flex align-items-center  gap-0 mb-0 pb-0">
                        <label for="tipDocRet" class="w-2rem">Tip. Doc. </label>
                        <p-dropdown id="tipDocRet" formControlName="tipDocRet"
                                    [options]=""
                                    placeholder="Seleccione"
                                    class="flex-1 w-4rem">
                         </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-3 flex align-items-center  gap-2 mb-0 pb-0">
                        <label for="numeroRet" class="w-3rem">Numero </label>
                        <input pInputText id="numeroRet" formControlName="numeroRet" class="flex-1 w-full">
                    </div>
                     <div class="field col-12 md:col-6 lg:col-2  flex align-items-center  gap-2 mb-0 pb-0">
                        <label for="fechaRet" class="w-2rem">Fecha </label>
                        <p-calendar id="fechaRet" formControlName="fechaRet" dateFormat="dd/mm/yy" showIcon="true" class="flex-1 w-full"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-2  flex align-items-center  gap-1 mb-0 pb-0">
                        <label for="fechaPagoRet" class="w-2rem">Fec. Pago </label>
                        <p-calendar id="fechaPagoRet" formControlName="fechaPagoRet" dateFormat="dd/mm/yy" showIcon="true" class="flex-1 w-full"></p-calendar>
                    </div>
                </div>
            </fieldset>
        </div>
        <p-footer>
            <div class="flex justify-content-center gap-8 pt-3">
                <p-button label="Guardar" (onClick)="guardarConfirmacion()" styleClass="p-button-primary"></p-button>
                <p-button label="Cancelar" (onClick)="cancelar()" styleClass="p-button-danger"></p-button>
            </div>
        </p-footer>
    </form>
</p-panel>







<!-- Modal de confirmación -->
<p-dialog header="Archivo guardado correctamente" [(visible)]="mostrarDialogoExito" [modal]="true"
    [style]="{width: '450px'}" [closable]="false">
    <div class="flex align-items-center p-3">
        <i class="pi pi-check-circle text-green-500 mr-3" style="font-size: 2rem"></i>
        <span>{{mensajeExito}}</span>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <p-button label="OK" (onClick)="onConfirmOk()" styleClass="p-button-success"></p-button>
        </div>
    </ng-template>
</p-dialog>
